body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
header {
    background-color: #0275d8;
    color: white;
    padding: 20px 0;
}
main {
    padding: 20px;
}
.images img {
    width: 45%;
    margin: 10px;
    border-radius: 10px;
}
footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    margin-top: 20px;
}
